body {
  background: rgb(143,140,140);
background: radial-gradient(circle, rgba(143,140,140,1) 0%, rgba(194,189,194,1) 58%, rgba(239,238,240,0.9682247899159664) 100%) !important
}

.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: blue;
}

.log-in {
  display: flex !important;
  justify-content: center;
}

span.delete:hover {
  color: yellow
}

.ui.image {
  vertical-align: top !important
}

#admin-header {
  margin: "auto"
}

.search {
  width: 30% !important
}

.App-footer {
  border-top: solid red 5px;
  margin-top: 20px;
  text-align: left;
  height: 100px;
  padding: 40px
}

.App-body {
  min-height: calc(100vh - 100px)
}

body, h1, h2, h3 {
  font-family: Palatino, "Palatino Linotype", serif !important
}

h4 {
  font-family: Bookman, serif !important
}

.nav-menu-item {
  border: "5px outset white"
}

.nav-menu-link {
  color: "black"
}


